:root {
  --bulma-primary-h: 228deg;
  --bulma-primary-s: 45%;
  --bulma-primary-l: 18%;
  --bulma-warning-h: 43deg;
  --bulma-warning-l: 50%;
  --bulma-danger-h: 349deg;
  --bulma-danger-s: 83%;
  --bulma-danger-l: 51%;
  --bulma-body-background-color: #202020;
}


body {
	/*Image courtesy of gradientmagic.com*/
	background-image: radial-gradient(circle at center center, transparent,rgb(33,33,33)),repeating-linear-gradient(135deg, rgb(33,33,33) 0px, rgb(33,33,33) 2px,transparent 2px, transparent 10px,rgb(33,33,33) 10px, rgb(33,33,33) 11px,transparent 11px, transparent 21px),repeating-linear-gradient(45deg, rgb(47,47,47) 0px, rgb(47,47,47) 4px,transparent 4px, transparent 8px),linear-gradient(90deg, rgb(33,33,33),rgb(33,33,33));}

div {
	display: block;
}

h1 {
	font-family: Georgia, 'Times New Roman', Times, serif;
	text-align: center;
	text-shadow: 10px 10px black;
}

h2 {
	font-family: Georgia, 'Times New Roman', Times, serif;
	text-align: center;
	text-shadow: 4px 4px black;
	color: white;
}

p {
	font-family: 'Courier New', Courier, monospace;
}

a {
	color: white;
}

a:hover {
	color: gray;
	text-decoration: none;
}

a:active {
	color: #000000;
}

.textbox {
	background-color: #192142;
	border: 4px solid #FFB500;
	padding: 25px;
	margin: 0;
	color: white;
	text-shadow: 2px 2px black;
	height: 80%;
	width: 100%;
}


#home_page {
	display: flex;
	align-items: stretch;
	height: 100vh;
	margin: 0;
	flex: 100%;
}

#leftside_content {
	overflow-y: auto;
	scrollbar-width: thin;
	max-width: 20%;
	min-width: 20%;
}

#home_title_text {
	margin-top: 25px;
	margin-bottom: 25px;
	font-size: 3vw;
}

#home_menu {
	list-style-type: none;
	margin: auto;
	margin-top: 10%;
	margin-left: 10%;
	font-size: 1.5vw;
	font-family: Megaten20XX, 'Times New Roman', Times, serif;
	text-shadow: 2px 2px black;
}

.home_menu_item {
	padding: 5px;
	margin: 5px;
	width: 80%;
	color: white;
	border-bottom: 2px dotted #EEEEEE;
}

#leftside_divider {
	height: 100%;
	display: flex;
	background: black;
	width: 32px;
}

#main_content {
	display: flex;
	align-items: center;
	justify-content: center;
	overflow-y: auto;
}

#main_content_box {
	background-color: rgba(0, 0, 0, 0.5);
	padding: 25px;
	margin: 15px;
	color: white;
	text-shadow: 2px 2px black;
	height: 90%;
	width: 100%;
	overflow: auto;
}

@keyframes goingUp {
	from {opacity: 1; translate: 0;}
	to {opacity: 0; translate: 0 -80rem;}
}

@keyframes goingDown {
	from {opacity: 0; translate: 0 -80rem;}
	to {opacity: 1; translate: 0;}
}

#home_content {
	display: block;
}

#projects_content {
	display: none;
}

#contact_content {
	display: none;
}

@media only screen and (max-width: 768px) {
	#leftside_content {
		min-width: 100%;
		height: auto;
	}

	#home_title_text {
		font-size: 10vw;
	}

	#home_menu {
		margin-left: 80px;
		margin-top: 0;
		width: auto;
	}

	.home_menu_item {
		text-align: center;
		font-size: 4vw;
	}

	#main_content {
		height: auto;
	}

	#main_content_box {
		background-color: green;
		flex-direction: colums;
	}

	

}